
body {
    background-color: aquamarine;
}

header {
    text-align: center;
}

.container-forms {
    text-align: center;
    background-color: white;
    margin: 15px 300px;
    padding: 30px 15px;
}

label {
    padding-right: 15px;
}

.formato {
    margin-top: 15px;
    margin-bottom: 15px;
}