@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@700&display=swap');

*{
    font-family: 'Crimson Text', serif;
    margin: 0;
}

html {
    width: 100%;
    margin: 0;
}

body {
    background-image: url('assets/imgs/background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    
}

header{
    display: flex;
    justify-content: space-between;    
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgb(21, 22, 20);
    opacity: 0.7;  
    z-index: 2; 
    
}

main {
    margin-bottom: 200px;
}

h1 {
    color: white;
    margin-top: 100px;
    background-image: url('assets/imgs/madera-back.jpg');
    text-align: center;
    width: 300px;
    margin: 150px auto;
    border-radius: 15px;
    padding: 15px 5px;
    font-size: 55px;   
}

#logo {
  width: 250px;
  height: 100px;  
}

header ul {
    display: flex;
    justify-content: flex-end; 
    padding-top: 15px; 
}

header li {
    font-size: 28px;
    list-style: none;
    padding-left: 20px;
    padding-right: 20px;

}

.nav {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;    
}

.nav:hover {    
    color: rgb(255, 255, 0);    
}

.container-main {
    color: white;
    width: 80%;
    display: flex;
    margin: 10px auto;
    justify-content: space-evenly;
    font-size: 19px;
}

h2 {
    color: white;
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 50px;
    text-decoration: double underline rgb(230, 55, 55);   
}

.columna-40 {
    width: 40%;   
    padding-left: 15px; 
    padding-right: 15px;
    background-color: rgb(37, 28, 28);
    opacity: 0.7;
    border-radius: 15px;
    margin-left: 15px;  
    margin-right: 15px;
}

.columna-40:hover {    
     background-color: rgba(5, 4, 4, 0.596); 
     opacity: 0.75;
}

p {
    font-weight: 700;
}

footer {
    width: 100%;

}

#contacto {    
    background-color: rgb(65, 44, 83);
    opacity: 0.85;    
    display: flex;
    width: 100%; 
}

.redes-sociales {
    width: 33.33%;   
}

.ubicanos {
    width: 33.33%;    
}

.ubicanos ul {
    padding: 0;
}

.ubicanos li {
    padding-bottom: 10px; 
    list-style: none;    
}

.redes-sociales ul {
    display: flex;     
    justify-content: space-evenly;
    padding: 0;       
}

.redes-sociales li {
    font-size: 25px;
    list-style: none;
    padding-left: 0;
    padding-right: 0;
    padding-top: 15px;
     

}

h5 {
    font-size: 20px;
    text-decoration: underline;    
    text-align: center;
    padding-bottom: 0px;
    color: white;
    margin-top: 5px;
    margin-bottom: 5px;
}

.redes {
    color: white;       
}

.local {
    font-size: 15px;
    font-weight: 600;
    color: white;
}

.telefonos {
    width: 33.33%;  
    color: white;   
    font-size: 15px;
}

.telefonos ul {
    text-align: center;   
}

.telefonos li {
    padding-bottom: 10px;
    list-style: none;
}

@media only screen and (max-width: 600px) {
    
    body {
        width: 100vw;
    }
    
    header {
        background-color: rgb(221, 215, 226); 
        justify-content: center;                  
    }  

    .nav {
        color: black;
    }

    .nav:hover {
        color:rgb(225, 238, 113);
    }

    #logo {
        display: none;
    }

    header li {
        font-size: 30px;
    }

    h2 {
        display: none;
    }

    .container-main{
        display: none;
    }

    #contacto {
        display: block;
    }

    .redes-sociales {
        width: 100%;
    }

    .ubicanos {
        width: 100%;
    }

    .telefonos {
        width: 100%;
    }
}

@media only screen and (min-width:768px) {
    body {
        background-image: url('assets/imgs/close.jpg');
    }

    #logo {
        width: 150px;
        height: 55px;        
    }       
}

@media only screen and (min-width:992px) {
    #contacto {
        background-color: rgb(22, 165, 158);
        opacity: 1;        
    }
    body {
        background-image: url('assets/imgs/background.jpg');        
    }
}

@media only screen and (min-width:1200px) {   
    
    
    h1 {
        display: none;       
    }

    h2 {
        margin-top: 120px;
    }

    footer {
        position: absolute;
        bottom: 0;
    }
}


