





header {
    background-color: rgb(219, 221, 223);
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 15px;
}

div {
    text-align: center;
    margin-top: 20px;
    box-sizing: border-box;
}

p {
    color: grey;
    font-size: 18px;
}

img {
    width: 80%;
    height: 500px;
    filter: grayscale(1);
    padding-left: 15px;
    padding-right: 15px;
}